.portfolio_intro {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}

.portfolio_intro > h5 {
  font-size: 30px;
}

.portfolio_intro > h2 {
  color: var(--color-primary);
}

/* Container styles */
.portfolio__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* gap: 2rem; */
  justify-content: center;
  align-items: center;
  text-align: center;

  position: relative;
  /* animation: slideToLeftRight 20s linear infinite; */
}

.portfolio__item {
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: var(--transition);
  padding: 2rem;
  padding-top: 3rem;
}

.portfolio__item-image {
  border-radius: 20px;
  overflow: hidden;
  /* box-shadow: 5px 5px 10px rgba(255, 150, 140, 0.603), -10px -10px 5px #0f0f0f; */
  width: 100%;
  position: relative;
  display: inline-block;
  height: auto;
  animation: glowBoxShadow 2s alternate infinite;
}

@keyframes glowBoxShadow {
  0% {
    box-shadow: 5px 5px 10px rgba(240, 165, 158, 0.603),
      -10px -10px 5px #0f0f0fbd; /* Initial shadow style */
  }
  50% {
    box-shadow: 5px 5px 10px rgb(255, 150, 140), -10px -10px 5px #0f0f0fb7; /* Brighter shadow style */
  }
  100% {
    box-shadow: 5px 5px 10px rgba(255, 150, 140, 0.603),
      -10px -10px 5px #0f0f0fbe; /* Back to the initial style */
  }
}

.portfolio__item-image::before {
  content: "";
  background-color: rgba(
    255,
    0,
    0,
    0
  ); /* Initial background color (transparent) */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color ease-in 0.9s;
}

.image__text {
  position: absolute;
  font-size: 0.5rem;
  font-style: italic;
  font-weight: 500;
  padding: 0.8rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Initially hide the text */
  transition: background-color 0.5s, opacity 0.5s;
}

.portfolio__item-image:hover .image__text {
  opacity: 1; /* Show the text on hover */
}

.portfolio__item-image:hover::before {
  background: linear-gradient(
    90deg,
    rgba(35, 23, 37, 0.9136029411764706) 0%,
    rgba(198, 194, 194, 0.7203256302521008) 100%
  );

  transition: ease-in-out 1s;
}

.portfolio__item-cta {
  display: flex;
  gap: 1rem;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}

/*================= RESPONSIVENESS ================= */
/* for tablets*/

@media screen and (max-width: 1024px) {
  .portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .image__text {
    padding: 0.8rem;
    font-size: 0.7rem;
  }

  .portfolio__item-cta a {
    font-size: 0.7rem;
    padding: 0.7rem 1rem;
  }

  .portfolio__item {
    padding: 0.7rem;
    padding-top: 3rem;
  }

  .portfolio__item h3 {
    font-size: 0.8rem;
  }

  .portfolio__item-image {
    width: 100%;
    height: auto;
  }

  @keyframes glowBoxShadow {
    0% {
      box-shadow: 3px 3px 7px rgba(245, 178, 172, 0.603),
        -7px -7px 3px #0f0f0fbd; /* Initial shadow style */
    }
    50% {
      box-shadow: 3px 3px 7px rgb(255, 150, 140), -7px -7px 3px #0f0f0fb7; /* Brighter shadow style */
    }
    100% {
      box-shadow: 3px 3px 7px rgba(255, 150, 140, 0.719),
        -7px -7px 3px #0f0f0fbe; /* Back to the initial style */
    }
  }
}

/* for mobile*/

@media screen and (max-width: 600px) {
  .portfolio_intro > h5 {
    font-size: 1rem;
  }

  .portfolio_intro > h2 {
    font-size: 0.7rem;
  }
  .portfolio__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem;
  }

  .image__text {
    padding: 0.4rem;
    font-size: 0.4rem;
  }
  .portfolio__item h3 {
    font-size: 0.5rem;
    margin-top: -0.8rem;
  }

  .portfolio__item-cta a {
    font-size: 0.4rem;
    padding: 0.5rem 0.6rem;
  }

  .portfolio__item {
    padding: 0.7rem;
    padding-top: 3rem;
  }

  .portfolio__item-image {
    width: 100%;
    height: auto;
    border-radius: 15px;
    animation: glowBoxShadow 2s alternate infinite;
  }

  @keyframes glowBoxShadow {
    0% {
      box-shadow: 3px 3px 7px rgba(245, 178, 172, 0.603),
        -7px -7px 3px #0f0f0fbd; /* Initial shadow style */
    }
    50% {
      box-shadow: 3px 3px 7px rgb(255, 150, 140), -7px -7px 3px #0f0f0fb7; /* Brighter shadow style */
    }
    100% {
      box-shadow: 3px 3px 7px rgba(255, 150, 140, 0.719),
        -7px -7px 3px #0f0f0fbe; /* Back to the initial style */
    }
  }
}
