.heading {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: var(--color-footer);
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.first_nav {
  height: 6rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

@media screen and (max-width: 768px) {
  .nav_menu {
    position: fixed;
    /* top: 3rem; */
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    transition: 0.5s;
    display: none;
  }
}

.nav_list {
  display: flex;
  gap: 2rem;
}
.nav_items {
  margin-bottom: var(--mb-4);
}
.nav_items a {
  color: #fff;
  font-weight: 500;
}

.nav_link {
  position: relative;
  color: #fff;
}

.nav_logo {
  color: #fff;
  font-size: 1.2rem;
}

.nav_logo-span {
  color: rgba(255, 149, 140, 1);
  font-weight: 700;
}

.nav_button {
  color: #fff;
  cursor: pointer;
  background: rgba(68, 17, 81, 1) 0%;
  border-radius: 30px;
  font-size: 1.2rem;
  padding: 0.8rem 1.2rem;
}

.nav_button:hover {
  transform: translateX(1);
}

.nav_items a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
}

/* ACTIVE MENU */
.nav_items a.active {
  background: rgba(68, 17, 81, 1) 0%;
  color: rgba(255, 149, 140, 1) 100%;
}

/* ====================== this is the content of the header ======================== */
header {
  /* height: 100vh; */
  height: 1024px;
  padding-top: 7rem;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
  padding-top: 4rem;
}
.header_container h5 {
  font-size: 20px;
}

/*========================cta*/

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/*======================== HEADER SOCIALS*/
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 8rem;
  height: -12rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 50%;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}
.me img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #fff;
}

.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 10rem;
  transform: rotate(90deg);
  font-weight: 200;
  font-size: 1rem;
}

/*================= RESPONSIVENESS ================= */
/* for tablets*/

@media screen and (max-width: 1024px) {
  .header {
    height: 100vh;
    overflow: visible;
  }

  .header_container {
    height: 100%;
  }

  .nav_menu {
    display: none;
  }
}

/* for mobile*/

@media screen and (max-width: 600px) {
  .first_nav {
    height: 4.5rem;
    padding: 2rem;
  }

  header {
    height: 100vh;
    overflow: visible;
    margin-top: -1.5rem;
  }

  .header_container {
    height: 100%;
  }

  .header_container > h1 {
    font-size: 25px;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }

  .nav_logo {
    font-size: 1rem;
  }

  .sec_h5 {
    font-size: 0.6rem;
  }

  .nav_button {
    font-size: 0.6rem;
    position: fixed;
    right: 0;
    margin-right: 2rem;
  }

  .cta {
    font-size: 0.6rem;
  }

  .me {
    width: 16rem;
    height: 23rem;
    margin-left: 3rem;
    margin-top: 4rem;
    padding: 4rem 1.5rem 1.5rem 1.5rem;
  }
  .me img {
    height: 100%;
    width: 100%;
  }
}
