@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-bg: #19071d;
  --color-bg-variant: #231725;
  --color-primary: #ff958c;
  --color-primary-variant: #ee85b5;
  --color-white: #fff;
  --color-light: #d1ccdc;
  --color-footer: linear-gradient(
    90deg,
    rgba(68, 17, 81, 1) 0%,
    rgba(255, 149, 140, 1) 100%
  );

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --transition: all 400ms ease;

}

html {
  scroll-behavior: smooth;
}

::webkit-scrollbar {
  display: none;
}

body {
  font-family: "poppins", sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  background-image: url(../src/assets/bg-texture.png);
}

/*=================== general styles ======================= */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
}

section > h2,
section > h5 {
  text-align: center !important;
  color: var(--color-white);
}

section > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  cursor: pointer;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  transition: var(--transition);
  border: var(--color-primary);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/*================= RESPONSIVENESS ================= */
/* for tablets*/

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

/* for mobile*/

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2 {
    margin-bottom: 2rem;
  }
}
